@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* Global Styles */
:root {
  --primary-color: #5a3f2d;
  --dark-color: #281600;
  --light-color: #f4f4f4;
  --danger-color: #b42937;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.small-text {
  color: rgb(110, 110, 110);
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-white {
  color: white;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--primary-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--success-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Profiles Page */
.profiles {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1rem;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.profile .img-container {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'recipes recipes';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.profile-top .info .lead,
.profile-top .info p {
  margin-top: -1rem;
}

.profile-top .img-container img {
  width: 200px;
}

.profile-top .icons a {
  color: #fff;
  font-size: 0.8rem;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.recipes-list {
  grid-area: recipes;
}

.recipes-list .recipe {
  display: flex;
  justify-content: space-between;
}

.recipes-list .recipe div:last-child {
  margin: auto 0;
}

.recipes-list .recipe .likes {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* Recipes Page */
.recipes .lead .fas {
  color: var(--primary-color);
}

/* Recipe Page */
.recipe-grid {
  display: grid;
  grid-template-areas:
    'info info info'
    'ingredients instructions instructions';
  grid-gap: 1rem;
}

.recipe-grid .recipe-info {
  grid-area: info;
  display: grid;
  grid-template-areas: 'desc desc about';
  align-items: center;
}

.recipe-grid .recipe-info .info-container {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.recipe-grid .recipe-info .info-container .recipe-img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.recipe-grid .recipe-info .description {
  grid-area: desc;
}

.recipe-grid .recipe-info .description p {
  font-size: 1.2rem;
}

.recipe-grid .recipe-info .description .btn {
  margin-top: 1rem;
  padding: 0.3rem 1rem;
}

.recipe-grid .ingredients {
  grid-area: ingredients;
}

.recipe-grid .instructions {
  grid-area: instructions;
}

/* Mobile Styles */
@media (max-width: 800px) {
  /* Profiles Page */
  .profiles {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
  }

  .profile {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'recipes';
    grid-gap: 1rem;
  }

  .profile-top {
    flex-direction: column;
    justify-content: center;
  }

  .profile-about .favorites {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  /* Recipe Page */

  .recipe-grid {
    grid-template-areas:
      'info'
      'ingredients'
      'instructions';
  }

  .recipe-grid .recipe-info {
    grid-template-areas: 'desc about';
  }

  .recipe-grid .recipe-info .description p {
    font-size: 1rem;
  }

  .recipe-grid .recipe-info .info-container .recipe-img {
    width: 85px;
  }
}

@media (max-width: 600px) {
  /* Profiles Page */
  .profiles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .profile {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .profile-img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}

@media (max-width: 400px) {
  /* Recipe Page */

  .recipe-grid .recipe-info {
    grid-template-areas: 'about' 'desc';
    padding-top: 0.5rem;
  }

  .recipe-grid .recipe-info .description .large {
    margin-bottom: 0.2rem;
  }

  .recipe-grid .recipe-info .info-container .recipe-img {
    width: 75px;
  }
}
